Вот задание на первое ознакомление с рельсами в качестве пользователя.
Реализовать платформу для отслеживания цен на автомобили в разных регионах.
Мы хотим понимать, как цены на б/у автомобили различаются в разных городах и регионах.
Платформа будет предоставляться авто-перекупам как SaaS.

В качестве источника информации можно взять любо сайт, который легко парсится, например, avito.ru, am.ru, drom.ru.

Истории
Я как автоперекуп хочу иметь возможность регистрации в системе
Я как автоперекуп хочу иметь возможность заходить в свой личный кабинет
Система должна грабить сайт с объявлениями и сохранять информацию по автомобилям и ценам в собственную базу для последующего анализа
Я как автоперекуп должен иметь возможность выполнять через личный кабинет поиск машины по марке, году выпуска, пробегу и другим параметрам
Система должна сравнивать цены по разным регионам и делать автоперекупу рекомендации, где и какую машину можно продать и где купить
Рекомендации по покупке машины должны мне высылатья на email 1 раз в сутки
